* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

figure,
h1,
p,
ul {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body {
  margin: 0;
  background: no-repeat url(/assets/bg-intro-mobile.png);
  background-color: #ff7a7a;
  background-size: cover;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 15px;
  min-width: 250px;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .white {
  color: white;
}
main .light {
  color: #f7f7f8;
}
main .text-container {
  margin: 10% 0;
  padding-bottom: 50px;
}
main .text-container h1 {
  font-size: 1.2em;
  margin: 0 15px;
  margin-top: 25px;
  letter-spacing: 0.5px;
  font-weight: 700;
}
main .text-container p {
  font-size: 0.8em;
  line-height: 20px;
  margin-top: 20px;
  font-weight: 400;
}
main .form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .form-container .trial {
  background-color: #6055a5;
  width: 100%;
  padding: 1.2em;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 0.8em;
  box-shadow: 0 6px rgba(0, 0, 0, 0.103);
}
main .form-container .trial p {
  width: 60%;
  margin: auto;
}
main .form-container .trial span {
  font-weight: 700;
}
main .form-container form {
  background-color: white;
  border-radius: 10px;
}
main .form-container form .input-container,
main .form-container form .terms,
main .form-container form .submit {
  margin: 0 15px;
}
main .form-container form .name-container {
  padding-top: 15px;
}
main .form-container form .input-container {
  margin-bottom: 15px;
}
main .form-container form .input {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  font-family: "Poppins", sans-serif;
  color: #3e3c49;
  font-weight: 600;
  font-size: 0.7em;
  padding-left: 5%;
}
main .form-container form .w-name-disable,
main .form-container form .w-lastname-disable,
main .form-container form .w-mail-disable,
main .form-container form .w-pw-disable {
  font-family: "Poppins", sans-serif;
  font-size: 0.6em;
  color: #ff7a7a;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 5px;
  display: none;
}
main .form-container form .input-name-warning,
main .form-container form .input-lastname-warning,
main .form-container form .input-mail-warning,
main .form-container form .input-pw-warning {
  background: no-repeat right url(/assets/icon-error.svg);
  background-position: 95%;
  border-color: #ff7a7a;
}
main .form-container form .submit {
  background-color: #38cc8c;
  max-width: 450px;
  margin: 0 20px;
  border: none;
  border-radius: 5px;
  height: 40px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.7em;
  padding: 0 10%;
  box-shadow: 0 6px rgba(5, 148, 86, 0.753);
}
main .form-container form .submit:hover {
  background-color: rgba(56, 204, 140, 0.651);
}
main .form-container form .submit:active {
  border: 1px solid black;
}
main .form-container form .terms {
  font-size: 0.6em;
  font-weight: 600;
  color: rgba(128, 128, 128, 0.616);
  margin: 15px 15px 20px 15px;
}
main .form-container form .terms .terms-link {
  color: #ff7a7a;
}

@media screen and (min-width: 880px) {
  body {
    min-width: 640px;
    background-size: contain;
    background-repeat: repeat;
    padding: 5%;
  }

  main {
    flex-direction: row;
  }
  main .text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-top: 10%;
  }
  main .text-container h1 {
    display: contents;
    font-size: 3.5em;
    margin: 0;
    width: 100%;
    text-align: start;
    white-space: pre-line;
    line-height: 60px;
  }
  main .text-container p {
    display: contents;
    margin: 0;
    white-space: pre-line;
    font-size: 1em;
    width: 100%;
    line-height: 25px;
    text-align: start;
  }
  main .form-container {
    width: 100%;
    max-width: 660px;
  }
  main .form-container .trial {
    height: 70px;
    font-size: 1.2em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px rgba(0, 0, 0, 0.103);
    margin-bottom: 35px;
  }
  main .form-container .trial p {
    width: 100%;
  }
  main .form-container form .w-name-disable,
main .form-container form .w-lastname-disable,
main .form-container form .w-mail-disable,
main .form-container form .w-pw-disable {
    font-size: 0.8em;
  }
  main .form-container form .input-container,
main .form-container form .terms,
main .form-container form .submit {
    margin: 25px 40px;
  }
  main .form-container form .input {
    padding: 35px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.185);
    font-size: 90%;
    font-weight: 700;
  }
  main .form-container form .submit {
    display: block;
    width: 100%;
    max-width: none;
    border-radius: 10px;
    height: 65px;
    text-align: center;
    font-size: 1em;
    padding: 0;
    margin: 0;
  }
  main .form-container form .terms {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1130px) {
  .trial p {
    font-size: 0.7em;
  }

  form .input {
    font-size: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
